* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 14px; 
    margin: 0 auto;
    display: flex; 
    align-items: center;
}

.v81_2 {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(247,231,220,1), rgba(246,241,237,1));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #54130F;
}

.v81_3 {
    width: 100%;
    max-width: 800px;
    background: url("../images/v81_3.png") center/cover no-repeat;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto 20px; /* 위, 아래는 0, 좌우는 자동으로 가운데 정렬 */
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color: #54130F;
}

.v81_6 input[type="text"],
.v81_6 input[type="password"] {
    width: 100%;
    height: 42px;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ffdab9;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 400px;
    background-color: rgba(246, 241, 237, 1);
   
}
.v81_6 {
    width: 100%;
    display: flex; /* 자식 요소를 플렉스 박스로 설정하여 수평 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    margin-bottom: 20px;
    font-weight: 800;
}



.v81_6 input[type="password"]:focus,
.v81_6 input[type="text"]:focus {
    outline: none;
    border-color: #54130F;
    transition: background-color 0.5s, color 0.5s;
}
.v81_6 input[type="text"]::placeholder,
.v81_6 input[type="password"]::placeholder {
    font-size: 18px; /* 플레이스홀더 텍스트의 크기를 조정합니다. */
    text-align: center;
    color: #54130F; /* 플레이스홀더 텍스트의 색상을 변경합니다. */
    font-weight: 800;
}


.v81_20 {
    width: 100%;
    max-width: 800px;
    margin-top: 80px;
    
}

.v81_21,
.v81_24 {  
    justify-content: space-between; /* 자식 요소 사이의 간격을 최대한으로 벌립니다. */
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
      
}


.v81_21 {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

.v81_21 button {
    margin: 0 70px; /* 각 버튼 사이의 마진을 설정합니다. */
}

.v81_21 button {
    width: 100%;
    height: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(246, 241, 237, 1);
    border: 1px solid #ffdab9;
    color: #54130F;
    font-weight: 800;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    justify-content: space-between; /* 또는 space-around 또는 space-evenly */
}

.v81_21 button:hover,
.v81_24 button:hover {
    background-color: #ffdab9;
    color: #54130F;
}

.v81_7,
.v81_9 {
    display: block; /* 블록 요소로 변경하여 수직 가운데 정렬을 적용 */
    text-align: center; /* 가운데 정렬 */
    margin: 40px auto 10px;
}

.v81_8 {
    margin-bottom: 40px; /* 현재 위치보다 위쪽으로 이동할 여백을 지정합니다. */
    font-size: 32px;
}