body {
    display: flex;
    margin: 0;
    padding: 0;
    background:  linear-gradient(rgba(247,231,220,1), rgba(246,241,237,1)); 
    align-items: center;
    flex-direction: column;
    color : #54130f
  }
  a {
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}
  
  /* Wrapper */
  #wrapper {
    display: flex;
    justify-content: center;
   
    min-height: 100%;
    width: 100%;
    height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* 뷰포트의 높이만큼 최소 높이 설정 */
       /* 내부 여백 추가 */}
 
  /* Main */
  #main {
    width: 100%;
    max-width: 100%; /* Adjust as needed */
    align-items: center;
  }
  
  /* Inner */
  .inner {
    width: 100%;
    height: 100%
   
} 
  /* Logo */
  #logo_gcap {
    padding:5% 5% ;
    width: 10%; /* 467/1920 * 100 */
    height: auto; /* 자동으로 높이 조정 */
    background: url("/controller/resources/board/g_capLogo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0%; /* 43/1080 * 100 */
    left: 40%; /* 726/1920 * 100 */
    display: inline-block;
    background-size: contain;
    background-size: cover;
    background-size: 100%;
    
  }


  #form_join {
    width: 100%; /* 폼 너비를 100%로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    text-align: center; /* 내부 요소들을 가운데 정렬 */
    justify-content: center;
    align-items: center;
}
  
  /* Panel */
 
  
  .panel-body {
    width: 26.5%;
  /* 510/1920 * 100 */
  height: 78.1%;
  /* 844/1080 * 100 */
  background: rgba(255, 188, 146, 0);
  opacity: 1;
  position: absolute;
  top: 17.59%;
  /* 190/1080 * 100 */
  left: 36.66%;
  /* 704/1920 * 100 */
  border: 2px solid rgba(255, 188, 146, 1);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  
  max-width: 100%; /* 최대 너비 */
  max-height: 100%; /* 최대 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  /* Form */
  form {
    margin: 0;
    width: 100%;
    height: auto;
  }
  
  /* Input fields */
  input[type="text"],
  input[type="password"],
  
  select {
    width: 100%;
    padding: 4%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px  #ffbe98;
    box-sizing: border-box; /* Adjust as needed */
    margin-left: 5%; /* 왼쪽 여백 추가 */
    margin-right: 5%; /* 오른쪽 여백 추가 */
    background: transparent;
    color:#54130f;
    /* 화면 너비에 따라 폰트 크기 조정 */
  }


  input[type="text"]::placeholder,
input[type="password"]::placeholder
 {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    color :#54130f
}

    .div.outer-frame{

            align-items: center;
            justify-content: center;
    }

  
  /* Buttons */
  #btn {
  
    text-align: center;
  }
  
  .btn {
    
    display :inlin-block;
    
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: #ffbe98; /* Adjust as needed */
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    color: #54130f;
    font-size: 15px;
  }
  
  .btn:hover {
    background-color: #f0d4d7;
    color:#54130f; /* Adjust as needed */
  }
 

button[type="submit"]{
	
	
	padding : 3% 10%;
	
	
	
}

button[type="button"]{
	
	padding : 3% 13%;
	
	
}



  input[type="text"],
  input[type="password"],

  select {
    width: calc(100% - 20px); /* 테두리와 패딩을 고려하여 너비를 조정합니다. */
    margin-bottom: 10px;
    text-align: center;
    font-size: 1vw;
  }
  .inner-frame{

   
    padding: 20%;
    margin-top: 10%;
    
    font-size: 1vw;




  }





#radiobox {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size:  1vw;
    box-sizing: border-box; /* Adjust as needed */

   
}


input[type="radio"]{

   
    margin-right:20px; /* 라디오 버튼과 라벨 사이의 간격 조절 */
   
    align-content: center;
    display: inline-block;
    font-size:  1vw;
}


  
  /* Responsive Table Cells */
  @media screen and (max-width: 768px) {
    table td {
      display: block;
      width: auto; /* 각 셀의 너비를 자동으로 설정합니다. */
      padding: 5px; /* 셀 간격을 축소합니다. */
    }
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .inner {
      padding: 1em;
    }
  }